@import './colors';

.NavBar{
    display: flex;
    background-color: $azul-chicos;
    padding: 0.5rem 2rem 0.5rem 2rem;
    justify-content: space-between;

    .App-logo{
        max-width: 7rem;
    }
    .searchNavBar{
        display: flex;
        align-items: center;
        margin-right: 5rem;
        .search{
            height: 2.5rem;
            width: 20vw;
            border-radius: 100px;
            padding: 0 0.7rem 0 0.7rem;
        }
        svg{
            max-width: 2rem;
            position: absolute;
            top:1.7rem;
            margin-left: 0.7rem;
        }
        .search:focus ~ svg{
            display: none;
        }
    }
    .menu{
        max-width: 2.5rem;
    }
}